#table {
  margin-left: 250px;
  margin-top: -900px;
  max-width: 83%;
}

#districts {
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
}

.dropdown .dropdown-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.dropdown-menu .dropdown-item {
  display: inline-block;
  width: 100%;
  background-color: #2b292b;
}

.dropdown-menu .dropdown-item:hover {
  color: #0a0a0a;
}

.dropdown-menu .dropdown-item:active {
  color: #6d6580;
}
